@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bpscriptregular';
    src: url('fonts/BPscript-webfont.eot');
    src: url('fonts/BPscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BPscript-webfont.woff2') format('woff2'),
         url('fonts/BPscript-webfont.woff') format('woff'),
         url('fonts/BPscript-webfont.ttf') format('truetype'),
         url('fonts/BPscript-webfont.svg#bpscriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a:hover
{
    background-color: #6394868c;
}
a:active
{
    color: red;
}
a:visited
{
    color: rgb(70, 35, 6);
}
body
{
    /*background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position : top right;*/
    background-color: #8eb098;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23d5d5c5' fill-opacity='0.15' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}
h1, h2
{
    text-shadow: 1px 1px 2px black;
}
h1
{
    font-size: 3em;
    font-family: 'bpscriptregular', 'ambleregular',Helvetica, sans-serif, "arial black", Verdana, Geneva;
    text-align: center;
    padding-bottom: 1em;
    color: black;
}
h2
{
    color: rgb(70, 35, 6);
    font-family: /*'ambleregular'*/'bpscriptregular';
}
.ID
{
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
}
img
{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover
{
    opacity: .5;
}

.para
{
    color: rgb(99, 63, 16);
    /*border: 3px solid coral;
    box-shadow: 10px 5px 5px rgb(20, 17, 17);*/
}
.para li
{
    font-size: x-large;
    font-family: tahoma;
    padding: 1px;
    margin-left: 2em;
    list-style-type: none;
} 
.para li::first-letter
{
    font-family: 'bpscriptregular';
    font-size: larger;
    font-weight: bold;
}
img
{
   float: right;
   border: 1px solid black;
   box-shadow: 2px 2px 2px black;
}
section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}
section h2
 {
    line-height: 0.5;
 }
 section h2 span
{
    display: inline-block;
    position: relative; 
}
section h2 span::before, section h2 span::after
{  
    content: "";
    line-height: .5;
    position: absolute;
    height: 15px;
    border-bottom: 5px solid #63948628;
    border-radius: 3px;
    top: 0;
    width: 600px;
    z-index: -1;
}
#liseret, #content
{
    display: inline-block;
    vertical-align: top;
}
#liseret
{
    background-image: url('img/pattern.png');
    width: 10%;
    height: 500px;
    margin-right: 3%;
    border-radius: 40px;
    opacity: 70%;
}
#content
{
    width: 85%;
}
@media all and (max-width: 800px)
{
    #liseret
    {
        display: none;
    }
}
@media all and (max-width: 800px)
{
    section 
    {
        flex-direction: column;
        width: auto;
        margin-bottom: 10px;
    }
}
#contact
{
    display: inline-block;
    position: relative;
    text-align: center;
    margin: auto;
    text-decoration: none;
}  
#contact
{
    font-size: larger;
    font-family: 'ambleregular';
    color: rgb(70, 35, 6);
    opacity: 0.5;
    
}
#contact img
{
    width: 40px;
    height: 40px;
}
